:root {
  --decore-color: hsla(95, 70%, 60%, 1);
  --decore-secondary-color: hsla(195, 70%, 60%, 1);
  --dark-color: #333;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, var(--decore-color), var(--decore-secondary-color));
  background-repeat: no-repeat;
}

.player {
  width: max-content;
  margin: 100px auto;
  background-color: var(--dark-color);

  overflow: hidden;
}

.player:hover .player__controls {
  transform: translateY(0);
  opacity: 1;
}

.player__controls {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  transform: translateY(40px);
  transition: opacity .3s ease-in-out,
    transform .3s ease-in-out;
  opacity: 0.1;
}

.player__button {
  padding: 8px 10px;

  color: var(--dark-color);

  background-color: var(--decore-secondary-color);
  border: 1px solid var(--dark-color);
  border-radius: 6px;
  cursor: pointer;
}
